body {
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  margin: 0;
}

main {
  margin: 8px;
}

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}

ul.checkbox li {
  display: inline-block;
  width: 10%;
}

/*
 * Header
 */

header {
  background-image: radial-gradient(rgba(111,189,220, 0), rgba(111,189,220, 1)), url("thumbnail.jpg");
  background-position: center;
  color: white;
  height: 80px;
  line-height: 80px;
  margin: 0 0 8px 0;
}

header h1 {
  margin: 0 0 8px 8px;
}

/*
 * Big numbers grid
 *
 * Inspired by https://coronavirus.1point3acres.com/en
 */

.big-numbers {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.big-numbers .geo {
  display: grid;
  grid-gap: 4px;
  grid-template-areas:
    "name  name"
    "cases deaths";
  background-color: #f1f1f1;
  border: 2px solid rgb(111,189,220);
  border-radius: 4px;
  padding: 4px;
}

.geo .name {
  grid-area: name;
  text-align: center;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgb(111,189,220);
  padding: 0 0 4px 0;
  margin: 0 -4px; /* extends bottom border to left/right padding */
}
.geo .stats {
  display: grid;
  grid-gap: 2px;
  grid-template-areas:
    "new   percent"
    "total percent"
    "label label";
  padding: 4px 0 0 0;
  margin: -4px 0; /* extends right border to top/bottom padding */
}
.geo .cases {
  grid-area: cases;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: rgb(111,189,220);
}
.geo .deaths {
  grid-area: deaths;
}

.stats .new {
  grid-area: new;
  text-align: center;
  font-size: 12px;
}
.stats .total {
  grid-area: total;
  text-align: center;
  font-size: 20px;
}
.stats .percent {
  grid-area: percent;
  margin: auto 0;
  text-align: left;
  font-size: 24px;
}
.stats .label {
  grid-area: label;
  margin: auto;
  font-size: 12px;
}

/*
 * Charts
 */

.data {
  border: 2px solid rgb(111,189,220);
  border-radius: 4px;
  margin: 4px;
 }

.chart {
  height:80vh;
}

/*
 * Tables
 */

.table {
  border: 1px solid rgb(204,204,204);
 }

.export-btn {
  margin: 6px;
}

/*
 * Tabs
 */

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  transition: 0.3s;
}
.tab button:hover {
  background-color: #ddd;
}

/*
 * Dropdown
 */

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropdown-button {
  float: none;
  min-width: 68px;
}
.dropdown:hover .dropdown-button {
  background-color: #ddd;
}
.dropdown .dropdown-button:focus {
  background-color: #ccc;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 66px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px #ccc solid;
}
.dropdown-content button {
  float: none;
  width: 100%;
  display: block;
  text-align: left;
}
.dropdown-content button:hover {
  background-color: #ddd;
}
.show {
  display: block;
}

/*
 * Collapsibles
 */

.collapsible {
  /* copied from tab */
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin: 0;
}
.collapsible:hover {
  /* copied from .tab:hover */
  background-color: #ddd;
}
.collapsible button {
  display: flex;
  width: 100%;
  font-size: 16px;
  padding: 0.5em 0;

  /* copied from .tab button */
  background-color: inherit;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.collapsible button svg {
  height: 1em;
  margin: 0.0625em 0.5em 0 0.5em;
}
.collapsible button:focus svg {
  outline: 2px solid;
}
[aria-expanded="true"] .vert {
  display: none;
}
[aria-expanded] rect {
  fill: currentColor;
}
.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}

/*
 * Dropdown chevron
 */

.dropdown-chevron {
  font-size: 8px;
  pointer-events: none;
}
